<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Final Jeopardy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">


    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Logout</button>
    </form>

    <!--                                                      -->
    <!--   Display of the user's final score and high score   -->
    <!--                                                      -->

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span th:utext="${welcome}"></span>
            </div>
            <div class="panel-body">

                <div>
                    High Score: $<span th:text="${admin.high_score}"></span> | Final Score: $<span id="user_score" th:text="${admin.current_score}"></span>
                </div>

                <form th:action="@{/admin/game}" method="get">
                    <button type="Submit">Play Again</button>
                </form>

            </div>
        </div>
    </div>


    <footer>
        <div style="clear: both;"></div>
        </br>
    </footer>

    <!--                                                  -->
    <!--   JavaScript to display the user's final score   -->
    <!--                                                  -->


    <script>

        // <![CDATA[

            (function (global) {
                document.getElementById("user_score").innerHTML = global.localStorage.getItem("scoreSharer");
            }(window));

            (function (global) {
                document.getElementById("save").addEventListener("click", function () {
                             global.localStorage.setItem("scoreSharer", document.getElementById("user_score").innerHTML);
                }, false);
            }(window));

        // ]]>
    </script>


</div>

</body>
</html>